.App {
  margin-top: 40px;
  margin-left: 80px;
}

.button {
  padding: 8px 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-right: 12px;
}

.play-all {
  color: #3399ff;
  border-color: #3399ff;
}

.surfer-waveform {
  /*display: none;*/
  max-width: 800px;
}
